#styling-links {
    background: #333;
}
#styling-links #container{
    background: white;
    text-align: center;
    width: 650px;
    margin: auto;
    padding: 40px;
}



/* Unvisited */
a:link{
    color: #fc3;
    text-decoration: none;
}

/* visited: By default, it is purple */
a:visited{
    color: #fc3;
}

/* hovered / mouse-over */
a:hover{
    color: green;
    
}

/* active / mouse-down*/
a:active{
    color: black;
    
}

a#link-1:link {
    background: #333;
    padding: 10px;
    text-decoration: none;/* Gets rid of the underline */
}
a#link-1:hover{
    background: #f3c;
    color: white;
}

a#link-1:active{
    background: #777;
}